/* LOGO */
.header-sobrenosotros{
    display: flex;
    justify-content: center;
}

.logo{
    width: 25em;
}

/* PRODUCTOS */

.precio{
    font-size: 25px;
}

.card-title {
    
    line-height: 1.2; /* Altura de línea */
    height: 5rem; /* Altura máxima del título */
  }

/* NAVBAR */

.navbar{
    padding-inline-start: 190px;
    padding-inline-end: 190px;
    margin-bottom: 20px;
}
.bg-custom{
    background-color: hsl(221, 72%, 58%);
}




/* FOOTER */
.footer{
    width: 100%;
    margin: 0px;
    border: 1px solid black;
    margin-top: 100px;
    
}

.div-footer-centro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    }

.iconos-redessociales{
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.logos-redessociales{
    width: 50px;
    height: 50px;
}

/* RESPONSIVE */

@media screen and (max-width: 1600px ) {

.navbar{
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

}

@media screen and (max-width: 767px) {

    .div-footer-izquierda{
        display: flex;
        flex-direction: column;
        justify-content: center;
        }

    .texto-footer{
        display: flex;
        justify-content: center;
    }

    .footer{
        
        height: 400px;
    }
}