@import 'variables';

.footer {
    width: 100%;
    margin: 0px;
    border: 3px solid black;
    margin-top: 100px;
    font-family: $font-family;

    .div-footer-izquierda {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .div-footer-centro {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .iconos-redessociales {
        width: 300px;
        display: flex;
        justify-content: space-around;
    }

    .logos-redessociales {
        @extend .logos-redessociales;
    }
}