.contenedor-productos{

    .row{

        .items{

            .card{

                .img{
                    height: 286px;
                    width: 286px;   
                }
                .card-body{

                    .card-title{
                        line-height: 1.2; /* Altura de línea */
                        height: 5rem; /* Altura máxima del título */
                        font-family: 'Nunito', sans-serif;
                        font-size: large;

                    }
                    .precio{
                        font-size: 25px;
                        font-family: 'Nunito', sans-serif;

                    }
                    .card-footer{

                        .btn{
                            transition: all 0.2s;
                            &:hover {
                                @extend %animacion-hover;
                            }
                            &:active{
                                @extend %animacion-active;
                            }
                        }

                    }

                }
            }
        }
    }
}